<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Proyecto</title>

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<header>
    <h1>Calculadora de Métodos Numéricos</h1>
    <p>Proyecto</p>
</header>

<main>

    <form method="POST">

        <h2>Seleccionar método</h2>

        <label for="metodo">Método:</label>
        <select id="metodo" name="metodo">
            <option value="newton-raphson">Newton-Raphson</option>
            <option value="muller">Método de Muller</option>
            <option value="lagrange">Polinomio Interpolante de Lagrange</option>
            <option value="neville">Método de Neville</option>
            <option value="newton-dd">Polinomio Interpolante de Newton</option>
        </select>

        <div id="datos-section" class="caja">
            <h2>Datos</h2>

            <p>Ingrese los valores de x y f(x):</p>

            <div id="datos">
                <div class="fila-datos">
                    <input type="text" name="x" placeholder="x1">
                    <input type="text" name="fx" placeholder="f(x1)">
                </div>

                <div class="fila-datos">
                    <input type="text" name="x" placeholder="x2">
                    <input type="text" name="fx" placeholder="f(x2)">
                </div>

                <div class="fila-datos">
                    <input type="text" name="x" placeholder="x3">
                    <input type="text" name="fx" placeholder="f(x3)">
                </div>
            </div>

            <button type="button" onclick="agregarFila()">Agregar más datos</button>
        </div>

        <div id="funcion-section" class="caja oculto">
            <h2>Función</h2>

            <label for="funcion">Ingrese f(x):</label>
            <input type="text" id="funcion" name="funcion">

            <p>Calculadora para armar la función:</p>

            <div class="calculadora-funcion">
                <button type="button" onclick="insertarFuncion('x')">x</button>
                <button type="button" onclick="insertarFuncion('^2')">x²</button>
                <button type="button" onclick="insertarFuncion('^3')">x³</button>
                <button type="button" onclick="insertarFuncion('sqrt(')">√</button>

                <button type="button" onclick="insertarFuncion('sin(')">sen</button>
                <button type="button" onclick="insertarFuncion('cos(')">cos</button>
                <button type="button" onclick="insertarFuncion('tan(')">tan</button>
                <button type="button" onclick="insertarFuncion('log(')">ln</button>

                <button type="button" onclick="insertarFuncion('+')">+</button>
                <button type="button" onclick="insertarFuncion('-')">-</button>
                <button type="button" onclick="insertarFuncion('*')">×</button>
                <button type="button" onclick="insertarFuncion('/')">÷</button>

                <button type="button" onclick="insertarFuncion('(')">(</button>
                <button type="button" onclick="insertarFuncion(')')">)</button>
                <button type="button" onclick="insertarFuncion('pi')">π</button>
                <button type="button" onclick="limpiarFuncion()">C</button>
            </div>


        </div>

        <div class="caja">
            <label for="valor-x" id="label-x">Valor de x a evaluar:</label>
            <input type="text" id="valor-x" name="valor_x">

            <div id="tolerancia-section" class="oculto">
                <label for="tolerancia">Tolerancia:</label>
                <input type="text" id="tolerancia" name="tolerancia" value="0.000001">
            </div>

            <button type="submit">Calcular</button>
        </div>

    </form>

    <div class="caja">
        <h2>Resultado</h2>
        <div id="resultado">{{ resultado }}</div>
    </div>

    {% if grafica %}
    <div id="grafica-contenedor" class="caja" style="display: block;">
        <h2>Gráfica</h2>
        <canvas id="grafica"></canvas>
    </div>
    {% endif %}

</main>

<script>
    const metodo = document.getElementById("metodo");
    const datosSection = document.getElementById("datos-section");
    const funcionSection = document.getElementById("funcion-section");
    const multiplicidadSection = document.getElementById("multiplicidad-section");
    const labelX = document.getElementById("label-x");
    const datos = document.getElementById("datos");
    const toleranciaSection = document.getElementById("tolerancia-section");

    function cambiarVista() {
        if (
            metodo.value === "newton-raphson" ||
            metodo.value === "muller"
        ) {
            funcionSection.classList.remove("oculto");
            datosSection.classList.add("oculto");
            toleranciaSection.classList.remove("oculto");
            labelX.textContent = "Valor inicial:";
        } else {
            funcionSection.classList.add("oculto");
            datosSection.classList.remove("oculto");
            toleranciaSection.classList.add("oculto");
            labelX.textContent = "Valor de x a evaluar:"
        }
    }

    metodo.addEventListener("change", cambiarVista);
    cambiarVista();

    function agregarFila() {
        const numero = datos.children.length + 1;

        const div = document.createElement("div");
        div.className = "fila-datos";

        div.innerHTML = `
            <input type="text" name="x" placeholder="x${numero}">
            <input type="text" name="fx" placeholder="f(x${numero})">
        `;

        datos.appendChild(div);
    }

    function insertarFuncion(texto) {
        const input = document.getElementById("funcion");
        input.value += texto;
        input.focus();
    }

    function limpiarFuncion() {
        document.getElementById("funcion").value = "";
    }

    function ponerEjemplo() {
        const ejemplo = document.getElementById("ejemplos").value;

        if (ejemplo !== "") {
            document.getElementById("funcion").value = ejemplo;
        }
    }

    {% if grafica %}
    const puntos = {{ grafica | tojson }};
    const ctx = document.getElementById("grafica");

    new Chart(ctx, {
        type: "scatter",
        data: {
            datasets: [{
                label: "Función",
                data: puntos,
                showLine: true
            }]
        },
        options: {
            scales: {
                x: {
                    type: "linear",
                    position: "bottom"
                }
            }
        }
    });
    {% endif %}
</script>

</body>
</html>